.parent {
  width: 400px;
  height: 400px;
  background-color: blue;
  cursor: pointer;
}

.child {
  width: 150px;
  height: 150px;
  background-color: red;
  transition: all 1s cubic-bezier(0.6, 0.62, 0.26, 1.49);
}

.outer {
  display: grid;
  place-items: center;
}

.outer .parent:hover .child {
  transform: translateX(165%);
  animation: noun 2s;
}

@keyframes noun {
  0% {
    transform: translate(0%);
  }

  50% {
    transform: translateY(165%);
  }
}
