body {
  text-align: center;
}

h1 {
  margin: 20px;
}

.box {
  width: 200px;
  height: 200px;
  background-color: red;
  animation-name: box;
  animation-duration: 6s;
  position: absolute;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes box {
  0% {
    background-color: red;
    left: 10px;
    top: 75px;
  }
  25% {
    background-color: orange;
    left: 600px;
    top: 75px;
    border-top-left-radius: 50%;
  }
  50% {
    background: yellow;
    left: 600px;
    top: 400px;
    border-top-right-radius: 50%;
  }
  75% {
    background-color: green;
    left: 10px;
    top: 400px;
    border-bottom-right-radius: 50%;
  }
  100% {
    background-color: red;
    left: 10px;
    top: 75px;
  }
}
